html { 
  font-size: 16px;
  font-family: Prompt, Helvetica, sans-serif;
  font-weight: 500; 
}
body { 
  margin: 0px;
}
input { 
  font-family: Prompt, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 2px;
}
button { 
  margin: 5px 10px;
  background-color: blue;
  border: none; 
  color: white; 
  font-family: Prompt, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  
}
textarea { 
  width: 100%;
  min-height: 150px;
  resize: none;
  font-family: Prompt, Helvetica, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
.textarea-div {   
  margin: 5px 10px; 
}
.border-box { 
  border: 3px solid blue;
}
.main { 
  max-width: 100%;
  min-width: 100px;
  margin: 0 auto;   
  background-color: #fffd70;
}
h1 { 
  font-size: 24px;
  margin: 0px 10px;
  letter-spacing: 5px;
}
section { 
  display: flex;
  flex-direction: column;
}
.min-max-box { 
  display: flex;
}
.label-box { 
  display: flex; 
  flex-direction: column;
  flex: 1; 
  margin: 5px 10px;
}

textarea:focus { 
   
}